@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
//Cores:
$primeiro: #fafafa;
$segundo: #388e3c;
$terceiro: #ffee58;
.text-header{
    background-image: linear-gradient(to bottom, pink, rgb(189, 68, 148), turquoise);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: black;
}
//Project:
body {background-color: $primeiro;}
.header{
    padding: 10px;
    a{
        img{height: 50px;
            width: 50px;
            background-repeat: no-repeat;
        }
    }
}